body {
  margin: 0;
  background-color: rgb(231, 231, 231);
}

.theater {
  background: url("assets/Theater.jpg");
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 1000px;
}
.title-text {
  font-size: 3em;
  text-align: center;
  color: rgb(245, 83, 83);
  font-family: 'Open Sans', sans-serif, 'Times New Roman', Times, serif;
  margin-bottom: 0;
}

.content-text {
  position: absolute;
  font-size: 2.5em;
  text-align: left;
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif, 'Times New Roman', Times, serif;
  margin-left: 10px;
  top: 120px;
}

.bottom-text {
  font-size: 1em;
  text-align: center;
  color: rgb(245, 83, 83);
  font-family: 'Open Sans', sans-serif, 'Times New Roman', Times, serif;
  margin-top: 0;
}

.link {
  color: rgb(245, 83, 83); 
  text-decoration: underline;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 25px;
    overflow: hidden;
    background-color: #2e3033;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.83);
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    font-family: 'Open Sans', sans-serif, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  li a:hover {
    color: rgb(245, 83, 83);
    transition: 0.3s;
  }

  .navtitle {
    color: rgb(245, 83, 83);
    font-size: 30px;
  }

  .navtitle:hover {
    color: white;
    transition: 1s;
  }

 .cards{
    width: 40em;
    background-color: #f2f2f2;
    border: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 0.8vw;
    margin-bottom: 30px !important;
    margin: auto;
 }

 .card-text {
  color: rgb(65, 65, 65);
  padding-left: 10em;
  padding-right: 10em;
 }

 a {
   text-decoration: none;
   color: white;
 }

 footer {
  position: auto;
  height: 50px;
  padding-top: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif, 'Times New Roman', Times, serif;
  font-size: 1em;
  background-color: #2e3033;
  color: rgb(245, 83, 83);
  text-align: center;
}

.main {
  margin-left: 175px;
  margin-top: 30px;
  margin-bottom: 100px;
  padding: 1.5em  0 2.0em 1.5em;
  display: inline-block;
}

section div.boxes{
	float: left;
  width: 300px;
  text-align: center;
	margin: 0 0.5em 2.0em 0.5em;
	padding: 1.0em;
}

.button {
  background-color: rgb(245, 83, 83);
  border-radius: 20px;
  font-family: 'Raleway', sans-serif, 'Times New Roman', Times, serif;
  border: none;
  color: white;
  padding: 13px 20px 13px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
}

.button:hover{
  background-color: rgb(184, 57, 57); 
  transition: 0.4s; 
}

.poster-text {
  font-family: 'Open Sans', sans-serif, 'Times New Roman', Times, serif;
  color: rgb(65, 65, 65);
  text-align: center;
  margin: 0;
}

.poster {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-bottom: 20px;
}
/* Contact Form */

input[type=text], [type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 700px;
  height: 500px;
  margin: 0 auto;
}

/* Review */

dd.post-date {
  float: right;
  color: rgb(146, 146, 146);
}

dt.rev-name {
  font-size: 25px;
  font-family: 'Open Sans', sans-serif, 'Times New Roman', Times, serif;
  color: #272727;
}

dd.review {
  color: #464646;
  font-family: 'Open Sans', sans-serif, 'Times New Roman', Times, serif;
  font-size: 20px;
  margin: 10px;
}

dt.rev-stars {
  font-size: 20px;
}

/* Concession Items */


.items {
  margin-bottom: 20px;
}

/* Radio Buttons */

.label-text {
  color: #464646;
  font-family: 'Open Sans', sans-serif, 'Times New Roman', Times, serif;
}

b{
  color: #54914d;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: rgb(245, 83, 83);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* Table */

#movies {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin: auto;
}

#movies td, #movies th {
  padding: 20px;
}

#movies tr:nth-child(even){background-color: #f2f2f2;}

#movies tr:hover {background-color: #ddd;}

#movies th {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  background-color: rgb(245, 83, 83);
  color: white;
}

@media only screen and (max-width: 768px) { /* Phone */
  nav {
    width: auto;
  }

  .content-text {
    top: 220px;
  }

  .main {
    margin: auto;
    display: inline-block;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: auto;
    height: 500px;
    margin: 0 auto;
  }

  .cards{
    width: auto;
 }

 .theater {
  width: 100%;
 }
}